html, body {
	width: 100%;
} 

header {
	position: fixed;
	max-width: 100%;
	z-index: 100;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

#header-logo { 
	padding-right: .4em;
	padding-left: .2em;
	display: none;
}

.slide {
	display: none;
}

#toodSlide .photo-content, #treedSlide .photo-content {
	margin-top: 1.5em;
}

#gamesSlide {
	padding-top: 1.5em;
}

#contactSlide {
	margin-top: .5em;
}

@media (min-width: 360px) {
	#header-logo {
		display: block;
	}
}